.section
  %h1.page-header Harlem Observer
  %p.lead
    Welcome to Harlem Observer. This is a forum for posting your thoughts and engage in lively discussions about issues affecting not only our community but the wider diaspora. All views are welcome and we hope to have engaging discussions that leads to real solutions.
  %h2 History
  %p
    This idea came out of a discussion among like minded and forward thinking individuals with varied opinions on improving our communities. Let's get together and continue the discussion here.

  %h2 Contact
  %p Coming soon.