.section
  %h1.page-header HarlemVoice
  %p.lead
    Welcome to Harlem Voice. This is a forum for posting your thoughts and engage in discussions that will benefit each other and the wider community at large . All views are welcome and we hope to have engaging discussions that leads to real solutions.
  %h2 History
  %p
    This idea came out of a discussion among like minded and forward thinking individuals with varied opinions on improving our communities. Let's get together and continue the discussion here.

  %h2 Contact
  %h4
    %span.text-primary harlemvoice125@gmail.com