.section
  %h1.page-header Harlem Observer
  %p.lead
    Welcome to Harlem Observer. This is a forum for posting your thoughts and engage in lively discussions about issues affecting not only our community but the wider diaspora. All views are welcomed and we hope to have engaging discussions that leads to real solutions.
  %h2 History
  %p
    This idea came out of a discussion among like minded and forward thinking individuals. We discussed ideas of improving our community and ourselves. The realization dawned on us that having a forum for the continual discussion of these ideas would be great and so this for resulted.

  %h2 Contact
  %p Coming soon.