/ # = render :partial => 'forem/forums/head', :locals => { :forum => @topic.forum }
= link_to "Back to discussion list", forem.forum_path(@topic.forum), :class => "btn btn-default"
%h2= t("forem.topic.new")
= render "form"
